/* Orbitron Light - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/orbitron-light.eot'); /* IE9 Compat Modes */
  src: local('Monda'), local('orbitron-light'),
       url('../fonts/orbitron-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/orbitron-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/orbitron-light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/orbitron-light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/orbitron-light.svg#Monda') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-regular - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/noto-sans-jp-v24-japanese_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url('../fonts/noto-sans-jp-v24-japanese_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v24-japanese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v24-japanese_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v24-japanese_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v24-japanese_latin-regular.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-700 - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/noto-sans-jp-v24-japanese_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
       url('../fonts/noto-sans-jp-v24-japanese_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-jp-v24-japanese_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v24-japanese_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-jp-v24-japanese_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-jp-v24-japanese_latin-700.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
